.fondoImg-css {
  background: url(../../assets/img/banner.png) blue no-repeat;
  background-size: cover;
  width: 100%;
  opacity: 98%;
  height: 450px;
}

.navbarPosition-css {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media (min-width: 1300px) {
  .navbarPosition-css {
    position: absolute;
    margin: auto;
    max-width: 1280px;
  }
}

.buttonLinkNav-css {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonLinkNav-css:hover {
  color: #F98302;
  font-size: medium;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition-duration: 1.0s;
          transition-duration: 1.0s;
}

.buttonLinkNav-css:hover:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 1.0s;
          transition-duration: 1.0s;
}

.buttonLinkNav-css:not(:hover) {
  -webkit-transform: none;
          transform: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.navbarButtons-css {
  margin-top: 15px;
  padding: 10px;
  width: 155px;
  height: 60px;
  cursor: pointer;
}

.navbarButtons-css:hover {
  color: white;
  border-bottom: 5px solid;
}

.logoSam-css, .logoMenuIzquierdo-css {
  width: 60px;
  -webkit-animation: logo 4s infinite;
          animation: logo 4s infinite;
}

@-webkit-keyframes logo {
  30% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes logo {
  30% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.logoMenuIzquierdo-css {
  margin-left: 20px;
  margin-right: 15px;
  width: 30px;
}

.changeTheSlogan-css {
  color: white;
  text-shadow: 5px 2px 3px black;
  margin: 0;
  padding: 10px;
  -webkit-animation: change 7.8s infinite;
          animation: change 7.8s infinite;
  text-align: center;
}

@media (min-width: 1300px) {
  .changeTheSlogan-css {
    opacity: 0%;
  }
}

.containerSlogan-css {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 60px;
  position: absolute;
  bottom: 50%;
  margin: auto;
}

@media (min-width: 750px) and (max-width: 1280px) {
  .containerSlogan-css {
    bottom: 56%;
  }
}

@-webkit-keyframes change {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  50% {
    margin-top: -60px;
  }
  80% {
    margin-top: -115px;
  }
  85% {
    margin-top: -55px;
  }
  95% {
    margin-top: -60px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes change {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  50% {
    margin-top: -60px;
  }
  80% {
    margin-top: -115px;
  }
  85% {
    margin-top: -55px;
  }
  95% {
    margin-top: -60px;
  }
  100% {
    margin-top: 0;
  }
}

@media (min-width: 200px) and (max-width: 600px) {
  .containerSlogan-css {
    height: 50px;
  }
  @-webkit-keyframes change {
    0% {
      margin-top: 0;
    }
    20% {
      margin-top: 0;
    }
    50% {
      margin-top: -45px;
    }
    80% {
      margin-top: -100px;
    }
    85% {
      margin-top: -50px;
    }
    95% {
      margin-top: -45px;
    }
    100% {
      margin-top: 0;
    }
  }
  @keyframes change {
    0% {
      margin-top: 0;
    }
    20% {
      margin-top: 0;
    }
    50% {
      margin-top: -45px;
    }
    80% {
      margin-top: -100px;
    }
    85% {
      margin-top: -50px;
    }
    95% {
      margin-top: -45px;
    }
    100% {
      margin-top: 0;
    }
  }
}

@media (min-width: 900px) and (max-width: 1300px) {
  .containerSlogan-css {
    width: 500px;
  }
  @-webkit-keyframes change {
    0% {
      margin-top: 0;
    }
    20% {
      margin-top: 0;
    }
    50% {
      margin-top: -62px;
    }
    80% {
      margin-top: -131px;
    }
    85% {
      margin-top: -65px;
    }
    95% {
      margin-top: -70px;
    }
    100% {
      margin-top: 0;
    }
  }
  @keyframes change {
    0% {
      margin-top: 0;
    }
    20% {
      margin-top: 0;
    }
    50% {
      margin-top: -62px;
    }
    80% {
      margin-top: -131px;
    }
    85% {
      margin-top: -65px;
    }
    95% {
      margin-top: -70px;
    }
    100% {
      margin-top: 0;
    }
  }
}

.inputSearch-css {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

@media (min-width: 200px) and (max-width: 760px) {
  .inputSearch-css {
    width: 280px;
    margin-left: 0;
  }
}

@media (min-width: 765px) and (max-width: 985px) {
  .inputSearch-css {
    position: absolute;
    left: 70px;
    width: 300px;
    top: 75px;
  }
}

.boxInput-css {
  background-color: aliceblue;
}

.activeDesplegable-css {
  visibility: hidden;
}

@media (min-width: 0px) and (max-width: 767px) {
  .activeDesplegable-css {
    visibility: visible;
  }
}

.iconSlider-css, .iconMover-css {
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.iconSlider-css:hover, .iconMover-css:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition-duration: 1.0s;
          transition-duration: 1.0s;
}

.iconSlider-css:not(:hover), .iconMover-css:not(:hover) {
  -webkit-transition-duration: 1.0s;
          transition-duration: 1.0s;
}

.iconSlider-css {
  width: 80px;
  height: 80px;
  background-color: #ADCED4;
}

.iconSlider-css:hover {
  -webkit-box-shadow: -5px -5px 60px !important;
          box-shadow: -5px -5px 60px !important;
}

.iconSlider-css:active {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition-duration: 1.0s;
          transition-duration: 1.0s;
}

@media (min-width: 200px) and (max-width: 600px) {
  .iconSlider-css {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .iconSlider-css {
    width: 50px;
    height: 50px;
  }
}

.iconMover-css {
  margin-top: 68px;
  width: 30px;
  height: 30px;
}

@media (min-width: 200px) and (max-width: 600px) {
  .iconMover-css {
    width: 15px;
    height: 15px;
    margin-top: 10px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .iconMover-css {
    width: 30px;
    height: 30px;
  }
}

.contentCategory-css {
  padding-bottom: 30px;
  margin: auto;
  text-align: center;
}

@media (min-width: 200px) and (max-width: 600px) {
  .contentCategory-css {
    height: 180px;
  }
}

.transitionBefore-css {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  background-color: #266b76;
}

.transitionAfter-css {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  background-color: #266b76;
}

.withoutAnimation-css {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

body {
  max-width: 1300px;
  height: 1500px;
  margin: auto;
  background-color: #2398AF;
  overflow-x: hidden;
}

.img-responsive {
  width: 500px;
  height: 300px;
  opacity: 80%;
}

.listRemove-css {
  list-style: none;
}

.listRemove-css::before {
  content: url("../../assets/icon/icon-good.png");
}

.containerList-css {
  padding: 40px;
  background-color: #97BCBC;
  opacity: 80%;
}

.containerSection-css {
  background: url("../../assets/img/Rectangle.png");
  padding-bottom: 25px;
  padding-top: 35px;
  padding-left: 25px;
}

.titleSection-css {
  font-size: 25px;
  color: white;
}

.subTitle-css {
  font-size: 30px;
  color: white;
  opacity: 90%;
  text-shadow: 4px 0px 5px black;
}

.titlePrincipal-css {
  font-weight: bold !important;
  font-size: 40px;
}

.offcanvas {
  background-color: aliceblue;
}

.offcanvas-title {
  position: absolute;
  left: 75px;
}

.letter-css {
  font-size: 40px;
}

.redes-css {
  margin-top: 50px;
  width: 70px;
}

@media (max-width: 300px) {
  .redes-css {
    width: 50px;
  }
}

.contentRedes-css {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.contentServices-css {
  margin-top: 55px;
}
