.img-responsive{
    width: 500px;
    height: 300px;
    opacity: 80%;
    @media (min-width : 0) and (max-width:720px) {
    
    }
}

.listRemove-css{
    list-style: none;
    &::before{
        content: url("../../assets/icon/icon-good.png");
    }
}
.containerList-css{
    padding: 40px;
    background-color: #97BCBC ;
    opacity: 80%;
}
.containerSection-css{
    background:url("../../assets/img/Rectangle.png") ;
    padding-bottom: 25px;
    padding-top: 35px;
    padding-left: 25px;

}
.titleSection-css{
    font-size: 25px;
    color: white;
}
.subTitle-css{
    font-size: 30px;
    color: white;
    opacity: 90%;
    text-shadow: 4px 0px 5px black;  

}
.titlePrincipal-css{
    &::after{
        content: "  "url("../../assets/icon/icon-productos.png");
        width: min-content;
    }
    
    font-weight: bold !important;
    font-size: 40px;
}