.imgInformacion-css{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 90px;
    height: 80px;
}
.container-foot{
    
    background-color: #97BCBC;
}
.buttonFoot-css{
    margin-left: -2.5px;
}