@mixin slogan ($margin20,$margin50,$margin80,$margin85,$margin95) {
  
  @keyframes change {
    
    0%{ margin-top: 0;}
  20%{ margin-top: #{$margin20};}
  50% { margin-top: #{$margin50};}
  80% { margin-top: #{$margin80};}
  85% { margin-top: #{$margin85};}
  95% { margin-top: #{$margin95};}
100% { margin-top: 0;}
  }
}

@mixin transition($time, $efect) {
  transition: $time $efect;
}

$time : 5s;

.fondoImg-css{
  background: url(../../assets/img/fondo.jpeg) blue no-repeat;
  background-size: cover;
  width: 100%;
  opacity: 98%;
  height: 450px;

  
}


.navbarPosition-css{

  position: sticky;
  top: 0;
  @media (min-width:1300px)  {
    position: absolute;
    margin: auto;
    max-width: 1280px;
}
  
} 
.transicionAfterNav-css{
  @include transition(1.1s,ease);
  font-size: 18px;
  background-color: #02ACF9;
}

.buttonLinkNav-css{
    text-decoration: none;
    color: white;
    display: flex;
    margin-top: 15px;
    justify-content: center;
   
    &:hover{
        color: #F98302 ;
        -webkit-transform: scale(1.2); 
        transition-duration: 1.0s;
    }
}
   
.navbarButtons-css{
    margin-top: 15px;
    padding: 10px ;   
    width: 155px;
    height: 60px;
    cursor: pointer;
    &:hover{
        color: white;    
         border-bottom: 5px solid;
    }
}
.logoSam-css{
    margin-left: 5px;
    width:60px  !important ;
    animation:logo 4s infinite;
    @keyframes logo {
      30% { transform: scale(1.2);}
    }
 }    
 
 .changeTheSlogan-css{
      
        color: white;
        text-shadow: 5px 2px 3px black;       
        margin: 0;    
        padding: 10px;  
        animation: change 7.8s infinite;
        text-align: center;
        @media (min-width:1300px) {
          opacity: 0%;
        }
  } 
  .containerSlogan-css{
    overflow: hidden;
    display: flex;
    width: 400px;
    height:60px;
    position: absolute;
    bottom: 50%;
    margin: auto;
    @media (min-width :750px) and (max-width: 1280px){
      bottom: 56%;
    }
    @include slogan(0,-60px,-115px,-55px,-60px);
    @media (min-width :200px) and (max-width: 600px){
      height: 50px;
      @include slogan(0,-45px,-100px,-50px,-45px);
    }
    @media (min-width :900px ) and (max-width: 1300px) {
      width: 500px;

      @include slogan(0,-62px,-131px,-65px,-70px);
    }
  }
  
 


