.offcanvas{
    background-color: aliceblue;   
   position: absolute;
   border-radius: 5px;
   height: 600px;

}
.offcanvas-title{
    position:absolute;
    left: 75px;
}
.letter-css{
    font-size: 40px;
}
.redes-css{

    margin-top: 50px;
    width: 70px;
    @media (max-width:300px) {
        width: 50px;
    }
   
    
}
.contentRedes-css{
    display: inline-flex;
}
.contentServices-css{
    margin-top: 55px;
}
