%category{
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 60px;
    margin-bottom: 40px;
    
    &:hover{
        transform: scale(1.2);
        transition-duration: 1.0s; 
        
        
        
    }
    &:not( :hover ){ 
        transition-duration: 1.0s;
     }
    
}

.iconSlider-css{
    @extend %category;
    width: 80px ;
    height: 80px ;
    background-color: #ADCED4;
    &:hover{
      box-shadow: -5px -5px 60px !important;
    }
    &:active{
        transform: scale(0.5);
        transition-duration: 1.0s;
    }
    
    @media (min-width:200px) and (max-width:600px) {

        width: 30px;
        height: 30px;
        margin-left:5px;
        margin-right: 5px;
        
      }
      @media (min-width:600px) and (max-width:800px) {

        width: 50px;
        height: 50px;
        
      }
    
    
}
.iconMover-css{
    
    @extend %category;
    margin-top: 68px;
    width: 30px;
    height: 30px;
    
    @media (min-width:200px) and (max-width:600px) {

        width: 15px;
        height: 15px;
        margin-top: 10px;
        
        
      }
      @media (min-width:600px) and (max-width:800px) {

        width: 30px;
        height: 30px;
        
      }
    
      
   
}
.contentCategory-css{
  padding-bottom: 30px;
    margin: auto;
    text-align: center;
   
    @media (min-width:200px) and (max-width:600px) {

        height: 180px;
        
        
      }
    
}




