@keyframes slogan {
    
    0%{ margin-top: 0;}
  20%{ margin-top: 0;}
  50% { margin-top: -60PX;}
  80% { margin-top: -115PX;}
  85% { margin-top: -55PX;}
  95% { margin-top: -60PX;}
  99%{ opacity: 50%;} 
100% { margin-top: 0;}
  }


@keyframes logo {
    30% { transform: scale(1.2);}
  }

.buttonLinkNav-css{
    text-decoration: none;
    color: white;
    display: flex;
    margin-top: 15px;
    justify-content: center;
   
    &:hover{
        color: #F98302 ;
        -webkit-transform: scale(1.2); 
        transition-duration: 1.0s;
    }
}
   
.navbarButtons-css{
    margin-top: 15px;
    padding: 10px ;   
    width: 155px;
    height: 60px;
    cursor: pointer;
    &:hover{
        color: white;    
         border-bottom: 5px solid;
    }
}
.logoSam-css{
    margin-left: 5px;
    width:60px  !important ;
    animation:logo 4s infinite;
 }    
 
 .changeTheSlogan-css{
      
        color: white;
        text-shadow: 5px 2px 3px black;       
        margin: 0;    
        padding: 10px;  
        animation: slogan 7.8s infinite;
        text-align: center;
  } 
  .container-css{
    overflow: hidden;
    display: flex;
    width: 400px;
    height:60px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  margin: auto;
  
  }
  


