.fondoImg-css{
    background: url(../../assets/img/fondo.jpeg) #ccc no-repeat;
    background-size: cover;
    opacity: 70%;
    width: 100%;
    height: 450px;
    margin-bottom: 25px;
    
}
.logoSam-css{
    margin-left: 5px;
  width:60px  !important ;
 
 }
 .transicionBeforeNav-css{
    transition: 0.5s ease;
 } 
.transicionAfterNav-css{
    transition: 1.1s ease;
    opacity: 90%;
    font-size: 18px;
    background-color: #ccc !important;
}